@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
    --green: green;
    --black: black;
    --light-color: #666;
    --box-shadow: 0 .1rem 1rem rgba(0, 0, 0.1);
    --border: 2rem solid rgba(0, 0, 0.1);
    --outline: .1rem solid rgba(0, 0, 0.1);
}

.custom-navbar {
    font-family: 'Poppins';
}

.custom-navbar .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.9rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
    z-index: 9999;
}

.custom-navbar .header .logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.56rem;
    font-weight: bold;
    z-index: 9999;
}

.custom-navbar .header .logo img {
    width: 100px;
    height: 60px;
    z-index: 9999;
}

.custom-navbar .header .navbar {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    z-index: 9999;
}

.custom-navbar .header .navbar a {
    text-decoration: none;
    font-size: 1.07rem;
    margin: 0 0.67rem;
    color: var(--black);
}

.custom-navbar .header .navbar a:hover {
    color: var(--green);
}

.custom-navbar .header .icons div {
    border: 1px solid;
    height: 2.8rem;
    width: 2.8rem;
    line-height: 3rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 1.3rem;
    margin-right: .5rem;
    margin-top: 1rem;
    text-align: center;
    cursor: pointer;
}

.custom-navbar .header .icons div:hover {
    background: var(--green);
    color: white;
}

.custom-navbar .icons {
    font-size: 0.5rem;
    color: var(--black);
    margin-left: 100px;
    display: inline-block;
}

.custom-navbar .header .search-form {
    border: 0px solid;
    position: absolute;
    top: 15%;
    right: -110%;
    max-width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    transition: right 0.4s linear;
}

.custom-navbar .header .search-form.active {
    right: 2rem;
    transition: .4s linear;
}

.custom-navbar .header .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.custom-navbar .header .search-form label {
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.custom-navbar .header .search-form label:hover {
    color: var(--green);
}

.custom-navbar .container #home-btn {
    display: inline-block;
    border: 1px solid;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
    cursor: pointer;
}

.custom-navbar #home-btn {
    position: fixed;
    top: 20px;
    left: 64px;
    z-index: 9999;
    font-size: 24px;
    color: white;
    background-color: var(--green);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-navbar #home-btn:hover {
    background-color: darkgreen;
    color: white;
}

.custom-navbar .container {
    padding-top: 90px;
}

.custom-navbar .counter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid var(--green);
    border-radius: 5px;
    padding: 5px 10px;
    z-index: 1;
}

.custom-navbar .counter button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
}

.custom-navbar .add-to-cart {
    cursor: pointer;
    background-color: var(--green);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    width: 200px;
    transition: background-color 0.3s;
    text-align: center;
    margin: auto;
}

.custom-navbar .add-to-cart:hover {
    background-color: darkgreen;
}

.custom-navbar .search-container {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    z-index: 9999;
    border-color: green;
}

.custom-navbar .search-container input[type=text] {
    padding: 5px;
    margin-top: 8px;
    width: 80%;
    border: none;
    font-size: 17px;
    background-color: #f2f2f2;
    outline: green;
}

.custom-navbar .search-container button {
    float: right;
    padding: 5px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: var(--green);
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.custom-navbar .search-container button:hover {
    background: darkgreen;
}