a {
    text-decoration: None;
    color: white;
}

a:hover {
    color: white;
}

.top-left {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(40, 36, 44);
    padding: 1px 20px;
    color: white;
    font-size: 35px;
    display: inline-block;
    width: 100%;
    z-index: 2;
}

label {
    margin-bottom: 5px;
    margin-top: 7px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 7px 7px 7px 7px;
    box-sizing: border-box;
    border: 2px solid rgb(40, 36, 44);
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    padding: 7px 7px 7px 7px;
    box-sizing: border-box;
    border: 2px solid rgb(40, 36, 44);
    margin-bottom: 10px;
    width: 1390px;
    height: 100px;
}

input:focus {
    border: 3px solid #555;
}

.btn-dark:hover {
    background-color: #333;
}