.container {
    display: flex;
    justify-content: center;
}

.box {
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    margin: 150px 10px;
    border-radius: 20px;
    position: relative;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(200px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    align-items: center;
    transition: transform 0.1s ease;
}

.box:hover {
    transform: scale(1.05);
}

.info-text {
    margin-top: 40px;
    font-size: 30px;
    color: rgb(40, 36, 44);
}

a:link {
    text-decoration: none;
}