<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroceryShop</title>
    <link href="../static/css/main_style.css" rel="stylesheet">
    {% include 'bootstrap.html' %}
</head>

<body>
    <div class="container">
        <a href="/a">
            <div class="box" id="admin_box">
                <div>
                    <img src="../static/images/admin.png" alt="admin logo" height="250px" width="450px" class="rounded mt-5">
                </div>
                <div>
                    <h6 class="info-text text-center">
                        Log in as Admin
                    </h6>
                </div>
            </div>
        </a>
        <a href="/loginpage">
            <div class="box" id="customer_box">
                <div>
                    <img src="../static/images/customer.png" alt="customer logo" height="250px" width="450px"
                        class="rounded mt-5">
                </div>
                <div>
                    <h6 class="info-text text-center">
                        Log in as Customer
                    </h6>
                </div>
            </div>
        </a>
    </div>

</body>

</html>